
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import 'tailwindcss';
/* @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'); */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* COLORS */
  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-surface-highest: #d7e2ff;
  --color-surface-low: #f1f3ff;
  --color-background: #f9f9ff;
  --color-text-dark: #041b3c;
  --color-text-muted: #4f5f7b;
  --color-border-light: #c3c6d6;
  --color-success: #4ade80;
  --color-error: #ef4444;
  --color-warning: #f59e0b;

  /* FONTS */
  --text-display-lg: 3.5rem;     /* 56px/16px =3.5rem للـ Display LG */
  --text-headline-lg: 2rem;      /* 32px للـ Headline LG */
  --text-title-md: 1.25rem;      /* 18px للـ Title MD */
  --text-body-md: 0.875rem;      /* 14px للـ Body MD (الحجم الطبيعي) */
  --text-label-sm: 0.6875rem;    /* 14px للـ Label SM (للأزرار والتاجات) */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
